/*Name: Monisha Ranjan
Student Id : C0914148 */
#red {
  background-color:#ff0000;
  border-color: #ff0000;
}
#blue {
  background-color:#2979FF;
  border-color:#2979FF;
}
#yellow {
  background-color:#FFD600;
  border-color:#FFD600;
}
#black {
  background-color:#000000;
  border-color:#000000;
}
i.white {
  color:white;
}

div#controls {
  width:960px;
  margin:0 auto;
  text-align:center;
  margin-top:20px;
}


div#drawingArea {
 width:960px;
 margin:0 auto;
}

h1 {
 font-size:34px;
 text-align:center;
 margin-top:60px;
}